
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <Card Background="Background.Success">
                <Tooltip Text="Click to see all requisitions">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>All Requisitions<Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        <div class="col-md-3">
            <Card Background="Background.Danger">
                <Tooltip Text="Open Requisitions">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Open REQN <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        <div class="col-md-3">
            <Card Background="Background.Secondary">
                <Tooltip Text="Pending REQN">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Pending REQN <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        <div class="col-md-3">
            <Card Background="Background.Info">
                <Tooltip Text="Approved REQN">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Approved REQN <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <Card Background="Background.Transparent">
                <Tooltip Text="All Vendor">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>All Vendors <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        <div class="col-md-3">
            <Card Background="Background.Success">
                <Tooltip Text="LPO Generated">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>LPO Generated <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        <div class="col-md-3">
            <Card Background="Background.Info">
                <Tooltip Text="Total Budget">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Total Budget <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        <div class="col-md-3">
            <Card Background="Background.Transparent">
                <Tooltip Text="Budget Expended">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Budget Expended <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
    </div>
</div>
<Divider Background="Background.Success" />

<div class="container">
    <Table Striped="true" Bordered="true" Hoverable="true">
        <TableHeader>
            <TableHeaderCell>Requisition ID</TableHeaderCell>
            <TableHeaderCell>Requisition Details</TableHeaderCell>
            <TableHeaderCell>Status</TableHeaderCell>
        </TableHeader>
        <TableRow>
            
        </TableRow>
    </Table>
</div>